@media screen and (max-width: 500px) {
    .main-header {
        height: 40vh;
        width: 100%;
    }

    .main-content {
        height: 60vh;
        width: 100%;
        margin-top: 65%;
        margin-left: 10px;
    }

    .image-profile {
        margin-top: 10px;
        margin-right: 350px;
        box-sizing: border-box;
    }

    .main-header-title{
        margin-top: 0px;
    }
}