@media screen and (max-width: 500px) {
    .main-header {
        height: 35vh;
        width: 100%;
        background-position: center center;
    }

    .image-profile {
        margin-top: 10px;
        margin-bottom: 5px;
        box-sizing: border-box;
    }

    .main-header-title {
        margin-top: 0px;
    }

    .main-content {
        height: 60vh;
        width: 100%;
        margin-top: 320px;
        margin-left: -10px;
        padding-right: 0px;
    }

    .recent-works-card {
        margin: 10px 0px;
    }

    .contact-address-text{
        padding-bottom: 5px;
    }
}