::-webkit-scrollbar {
    width: 0;
    height: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}


.main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    background: url(../images/overlay.png), url(../images/bg.jpg) left top;
    background-size: auto, cover;
    box-sizing: border-box;
    text-align: right;
}

.image-profile {
    margin-top: 60px;
    margin-right: 35px;
    border-radius: 100%;
    box-sizing: border-box;

}

.main-header-title {
    color: #fffafad0;
    font-weight: normal;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 1.4em;
}

.main-content {
    margin-left: 40%;
    margin-top: 60px;
    width: 60%;
    padding-left: 50px;
    padding-right: 10px;
    box-sizing: border-box;
}

.biography-section-title {
    color: #666260;
    letter-spacing: 1.5px;
}

.biography-section-text {
    margin: 10px 0px;
    text-indent: 4px;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.button {
    margin: 10px 0px;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 15px;
    background: #ffff;
    color: #1385FF;
    border: 1.5px solid;
}

.button:hover {
    background: #1385FF;
    color: #ffff;
}

.recent-works-section h3 {
    color: #666260;
    margin-top: 10px;
    letter-spacing: 1.5px;
    font-size: 1.3em;
}

.recent-works-card {
    display: inline-block;
    text-align: center;
    margin: 20px 100px 20px 0px;
    box-sizing: border-box;
}

.recent-works-title {
    text-transform: uppercase;
    font-size: 13px;
}

.recent-works-text {
    font-size: 13px;
    color: rgb(110, 104, 104);
}

.contact-section-title {
    color: #666260;
    letter-spacing: 1.5px;
    margin-top: 10px;

}

.gridConteiner {
    width: 100%;
    display: grid;
    float: left;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    row-gap: 10px;
    column-gap: 5px;
    color: #666260;
}

.gridItem {
    padding: 0px 10px 10px 0px;
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: transparent;
    background-color: #80808086;
}

.input:hover {
    border: 2px solid #1385FF;
}

.gridItem:nth-child(3) {
    grid-row: span 2;
    padding-bottom: 20px;
}

.gridItem:nth-child(3) p {
    padding-bottom: 10%;
}

.gridItem:nth-child(4) {
    grid-column: span 2;
}